.TodoList .menu_bar {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.TodoList .menu_bar select {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;

    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.TodoList .newInputArea {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.TodoList .newInputArea input {
    flex: 1;
}

.TodoList .noData {
    font-size: 18px;
    text-align: center;
    padding: 80px 0px 0px 0px;
}
